* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.body {
    color: #222;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
    gap: 30px;
}

.gnb {
    display: flex;
}

.gnb li a {
    display: block;
    padding: 10px 26px;
}

.btn_login {
    border: 3px solid orangered;
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
} 

.btn_login:hover {
    background-color: transparent;
    color: orangered;
}

.logo {
    margin-right: auto;
}

.cards {
    display: flex;
    gap: 30px;
}

.cards li {
    position: relative;
}

.cards li:first-child {
    flex: 1;
}

.cards li:last-child {
    flex: 1;
}

.cards li .photo {
    height: 300px;
    background-color: red;
}

.cards .photo img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.cards .user {
    position: absolute;
    bottom: 14px;
    left: 14px;
    display: flex;
    color: #fff;
    align-items: center;
    gap: 10px;
}

.cards .user .profile {
    width: 40px;
    height: 40px;
}

.cards .user .profile img {
    width: 100%;
    display: block;
    border-radius: 100%;
}

.cards .user .info .job {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}